DB_HOST=rental_odoo_db
DB_PORT=5432
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
DB_NAME=rental_odoo
ADMIN_PASSWD=secret_password

ODOO_PORT=8069
ODOO_HTTP_PORT=8069
LOG_LEVEL=info

ODOO_HOST=rental.docker.localhost
